.empty-items-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);

    margin-bottom: var(--space-3xl);
}

.empty-list-image-wrapper {
    width: calc(var(--ui-element-lsmall-width) + var(--icon-size-xxxml));
    height: var(--ui-element-medium-height);
}

.empty-items-list .empty-icon {
    width: 100%;
    height: 100%;
}

.empty-list-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
    margin-top: var(--space-lg);

    color: var(--color-text-darkened);
    opacity: 0.5;
}

.empty-list-title {
    font-size: var(--font-size-g) !important;
}

.empty-list-description {
    font-size: var(--font-size-sm);
}
