:root {
    --common-text-color: #232323;
    --secondary-text-color: #E0E0E0;
    --caption-text-color: #9C9C9C;

    --secondary-background-color: #EDEDED;
    --input-secondary-background-color: #F3F3F3;

    --primary-color: #242EDB;
    --primary-border-color: #367AFF;

    --main-background-color: #F6F6F6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overscroll-behavior: none;
    background-color: #F6F6F6;
}

.form-input {
    width: 100%;
}

.action-icon {
    width: 1.5rem;
    height: 1.5rem;
}