@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

.primary-text {
    color: var(--color-text-primary, #000000) !important;
    font-size: var(--font-size-md, 1rem) !important;
    font-family: "Montserrat" !important;
    font-weight: 600 !important;
}

.tertiary-text {
    font-size: 1.1rem !important;
    font-family: "Montserrat" !important;
    font-weight: 600 !important;
}

.block-title-text {
    font-family: "Montserrat" !important;
    font-weight: 700 !important;
    font-size: var(--font-size-g, 1.5rem) !important;
    color: var(--color-text-primary, #000000) !important;
    letter-spacing: normal !important;
    text-transform: none !important;
    text-wrap: nowrap;
}

.block-caption-text {
    font-family: "Montserrat" !important;
    font-weight: 700 !important;
    font-size: var(--font-size-sm, 0.875rem) !important;
    color: var(--color-text-secondary, #4D4D4D) !important;
}

.block-caption-accent-text {
    font-family: "Montserrat" !important;
    font-weight: 700 !important;
    font-size: var(--font-size-mlg, 1.2rem) !important;
    color: var(--color-text-primary, #000000) !important;
}

.block-caption-primary-text {
    font-family: "Montserrat" !important;
    font-weight: 700 !important;
    font-size: var(--font-size-sm, 0.875rem) !important;
    color: var(--blue-background-color, #0c8ce9) !important;
}

.block-caption-half-accent-text {
    font-family: "Montserrat" !important;
    font-weight: 700 !important;
    font-size: var(--font-size-mlg, 1.2rem) !important;
    color: var(--darkened-border, #4d4d4d) !important;
}

.block-header-text {
    font-family: "Montserrat" !important;
    font-weight: 600 !important;
    font-size: var(--font-size-g, 1.5rem) !important;
    color: var(--color-text-primary, #000000) !important;
}

.field-header-text {
    font-family: "Montserrat" !important;
    font-weight: 600 !important;
    font-size: var(--font-size-sm, 0.875rem) !important;
    color: var(--color-text-primary, #000000) !important;
}

.caption-small-text,
.ui-provider-icon-button.caption-small-text span {
    font-family: "Montserrat" !important;
    font-weight: 300 !important;
    font-size: var(--font-size-xs, 0.75rem) !important;
    color: var(--color-text-primary, #000000) !important;
}

.ui-provider-alert span {
    font-size: var(--font-size-md, 1rem) !important;
    font-family: "Montserrat" !important;
    font-weight: 600 !important;
}

.ui-provider-icon-button.selected.caption-small-text span {
    color: var(--blue-background-color, #0c8ce9) !important;
}

html,
body {
    overscroll-behavior: none;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: var(--font-size-vsm, 0.95rem);
}

h1 {
    font-family: "Montserrat";
    font-weight: 800;
    letter-spacing: 0;
    font-size: var(--font-size-largest, 3rem);
    color: var(--color-text-primary, #000000);
}

h2 {
    font-family: "Montserrat";
    font-weight: 700;
    flex-wrap: wrap;
    color: var(--color-text-primary, #000000);
    font-size: var(--font-size-mlg, 1.2rem);
    text-transform: uppercase;
    letter-spacing: var(--space-xxxs, 0.125rem);
}

h3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: var(--font-size-lg, 1.1rem);
    letter-spacing: 0;
    color: var(--color-text-primary, #000000);
}

.centered-text {
    text-align: center;
    width: 100%;
}

button {
    color: var(--color-text-primary, #000000);
    font-size: var(--font-size-md, 1rem) !important;
    font-family: "Montserrat" !important;
    font-weight: 600 !important;
}

input {
    color: var(--color-text-primary, #000000) !important;
    font-size: var(--font-size-md, 1rem) !important;
    font-family: "Montserrat" !important;
    font-weight: 600 !important;
}

input::placeholder {
    color: var(--color-text-secondary, #4D4D4D) !important;
    font-weight: 600 !important;
}

.ui-provider-input::placeholder,
.ui-provider-password input::placeholder {
    color: var(--blured-text-color);
    font-weight: 400;
}

.icon-button-label {
    font-size: var(--font-size-sm) !important;
    width: var(--ui-element-xxsmall-width, 5rem);
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: auto !important;
}

.ui-provider-input,
.ui-provider-password {
    text-align: start !important;
    font-weight: 500 !important;
    font-size: var(--font-size-md);
}

.ui-provider-text-area {
    font-weight: 500 !important;
    font-size: var(--font-size-vsm) !important;
    text-align: start !important;
}

.ui-provider-custom-button.signIn {
    font-weight: 600;
    font-size: var(--font-size-md) !important;
}


