@font-face {
    font-family: "Inter";
    src: url('@assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('@assets/fonts/Inter/Inter-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('@assets/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('@assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Mono";
    src: url('@assets/fonts/Roboto-Mono/RobotoMono-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

html,
body {
    overscroll-behavior: none;
}

h1 {
    font-family: "Inter";
    font-weight: 600;
    letter-spacing: -1.5%;
    line-height: 110%;
    font-size: 2.7rem;
    color: var(--common-text-color, #232323);
}

h2 {
    font-family: "Inter";
    font-weight: 700;
    letter-spacing: -1.5%;
    line-height: 110%;
    font-size: 2rem;
    color: var(--common-text-color, #232323);
}

h3 {
    font-family: "Inter";
    font-weight: 700;
    letter-spacing: -1.5%;
    line-height: 110%;
    font-size: 1.7rem;
    color: var(--common-text-color, #232323);
}

.centered-text {
    text-align: center;
}

.description-text {
    font-family: "Inter";
    font-weight: 300;
    letter-spacing: 0%;
    line-height: 150%;
    font-size: 1.1rem;
    color: var(--common-text-color, #232323);
}

.description-text-thin {
    font-family: "Inter";
    font-weight: 200;
    letter-spacing: 0%;
    line-height: 150%;
    font-size: 1.1rem;
    color: var(--common-text-color, #232323);
}

.description-text-bold {
    font-family: "Inter";
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 150%;
    font-size: 1.1rem;
    color: var(--common-text-color, #232323);
}

.description-text-secondary-bold {
    font-family: "Inter";
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 150%;
    font-size: 1.1rem;
    color: var(--caption-text-color, #9C9C9C);
}

.description-text-secondary-thin {
    font-family: "Inter";
    font-weight: 200;
    letter-spacing: 0%;
    line-height: 150%;
    font-size: 1.1rem;
    color: var(--caption-text-color, #9C9C9C);
}

.description-text-primary {
    font-family: "Inter";
    font-weight: 300;
    letter-spacing: 0%;
    line-height: 150%;
    font-size: 1.1rem;
    color: #FFFFFF;
}

.description-text-secondary {
    font-family: "Inter";
    font-weight: 300;
    letter-spacing: 0%;
    line-height: 150%;
    font-size: 1.1rem;
    color: var(--secondary-text-color, #E0E0E0);
}

.caption-text {
    font-family: "Inter";
    font-weight: 300;
    letter-spacing: 0%;
    line-height: 150%;
    font-size: 1rem;
    color: var(--caption-text-color, #9C9C9C);
}

.caption-text-bold {
    font-family: "Inter";
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 150%;
    font-size: 1rem;
    color: var(--caption-text-color, #9C9C9C);
}

.caption-text-thin {
    font-family: "Inter";
    font-weight: 200;
    letter-spacing: 0%;
    line-height: 150%;
    font-size: 1rem;
    color: var(--caption-text-color, #9C9C9C);
}

.number-text {
    font-family: "Roboto-Mono";
    font-weight: 200;
    letter-spacing: 0%;
    line-height: 110%;
    font-size: 1.1rem;
    color: var(--common-text-color, #232323);
}

.number-text-secondary {
    font-family: "Roboto-Mono";
    font-weight: 200;
    letter-spacing: 0%;
    line-height: 110%;
    font-size: 1.1rem;
    color: var(--caption-text-color, #9C9C9C);
}