.error-dummy-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);

    margin-bottom: var(--space-3xl);
}

.error-block-image-wrapper {
    width: calc(var(--ui-element-medium-width) + var(--icon-size-2xl));
    height: calc(var(--ui-element-medium-height) + var(--icon-size-xxxlg));
}

.error-dummy-block .error-icon {
    width: 100%;
    height: 100%;
}

.error-block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);

    color: var(--color-text-darkened);
    opacity: 0.5;
}

.error-block-title {
    font-size: var(--font-size-g) !important;
}

.error-block-description {
    font-size: var(--font-size-sm);
}

.hidden-timer-block {
    width: 0;
    height: 0;

    opacity: 0;
    visibility: hidden;
}

.small-margin {
    margin-top: var(--space-4xl);
}

.medium-margin {
    margin-top: var(--ui-element-xxsmall-width);
}

.large-margin {
    margin-top: var(--ui-element-lsmall-width);
}
