.product-table-head-with-sort {
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
}

.product-table-head-with-sort.active {
    color: var(--primary-color, #242EDB);
}

.product-table-head-with-sort .head-label {
    margin-right: 0.5rem;
}

.product-table-head-with-sort .sort-order-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.25rem;
    height: 1.25rem;
}

.product-table-head-with-sort.active .sort-order-label {
    background-color: var(--primary-color, #242EDB);;
    color: #FFFFFF;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 1rem;
}