.full-screen-loader-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-surface-overlay, hsla(210, 1%, 40%, .25));
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}