.products-table {
    width: 100%;
    table-layout: fixed;
}

.products-table .head-row th {
    padding: 1.5rem 1.1rem;
}

.col-title {
    width: 35%;
    text-align: start;
}

.col-brand {
    width: 15%;
    text-align: center;
}

.col-sku {
    width: 15%;
    text-align: center;
}

.col-rating {
    width: 15%;
    text-align: center;
}

.col-price {
    width: 20%;
    text-align: center;
}