.default-layout .content {
    padding-top: 12rem;
    height: 90vh;
}

.default-layout footer {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: var(--border-radius-s2, 0.085rem) solid var(--color-text-muted, #999);
    padding: var(--space-sl2, 0.625rem);
    background-color: var(--color-text-on-accent, #ffffff);
    box-shadow: var(--shadow-default, 0 0.063rem 0.188rem rgba(0, 0, 0, 0.15));
    height: var(--layout-footer-height, 10vh);
    width: 100%;
}