.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.paginator .pagination-numbers {
    display: flex;
    gap: 0.5rem;
}

.paginator button {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 0.25rem;
    padding: 0.1rem;
}

.paginator button.arrow {
    height: 1.25rem;
    width: 1.25rem;
}